name: glide-install
version: ${VERSION}
description: uses glide to install packages then runs go build
keywords:
  - glide
properties:
  build:
    type: string
    required: false
    default: "true"
